
.main{
    overflow: hidden;
}

.titles-principal{
    margin: 0;
    font-size: 3rem;
    text-shadow: 
        0 0 0.5rem var(--primary-theme-color),
        0 0 1rem var(--primary-theme-color),
        0 0 1.5rem var(--primary-theme-color),
        0 0 2rem var(--primary-theme-color),
        0 0 2.5rem var(--primary-theme-color),
        0 0 3rem var(--primary-theme-color);
}


.footer {
    text-align: center;
    color: var(--text-color);
    background-color: #6b6b6b9d;  
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 2rem 0;
    font-size: 2rem ;
}