@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
:root {
  scroll-behavior: smooth;
  --primary-theme-color: #20232a;
  --secondary-theme-color: #282c34;
  --text-color: #fff;
  --shadow-color: #999;
  --button-color: #61dafb;
  --button-color-active: #fff;
  --button-text-color: #000;
  --button-text-color-active: #000;
  --padding-section: 2rem 0;
  --padding-container: 0 2rem;
  --primary-highlight: #61dafb;
  --secondary-highlight: #ffd700;
  --border-radius: 0.5rem;
  --all-transitions: all 0.25s;
  --body-color: rgb(144, 58, 162);
}

.body {
  background-image: url(https://img.freepik.com/foto-gratis/tres-pastelitos-mini-pastel-espacio-copia-rosa_39408-684.jpg?size=626&ext=jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  color: var(--text-color);
  font-family: 'Zen Loop', cursive;
  margin: 0;
  transition: var(--all-transitions);
}

@media (min-width: 854px) {
  :root {
    --padding-container: 0;
  }
}



.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
.spinner-container {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}
.spinner__double-bounce1, .spinner__double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--button-color);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.spinner__double-bounce2 {
  animation-delay: -1.0s;
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
  }
}